* {
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	background-color: #fafafa;
	color; #555;
}

.title {
	margin-top: 3%;
	padding: 2%;
}

.subtitle {
	margin: 2%;
}

.btn {
	padding: 1%;
	margin: 1%;
	margin-bottom: 3%;
}

.scroll-btn {
	background-color: #efe2e2;
	opacity: 0.3;
	filter: alpha(opacity=50);
	font-size: 150%;
	margin-left: 30%;
	margin-right: 30%;
}

.scroll-right {
	float: left;
}

.scroll-left {
	float: right;
}

#picker {
	width: 200px;
	height: 200px;
	padding: 0px;
}

#slide {
	width: 30px;
	height: 200px;
	padding: 0px;
}

.picker-wrapper {
	position: absolute;
	float: right;
	background-color: #fafafa;
	margin: 5%;
	border-radius: 5%;
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

.add-border {
	border-style: solid;
	border-width: 3px;
}

