* {
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.title {
	background: #566b8c;
	color: white;
	padding: 2%;
}

.main-page {
	background: #7da6e8;
}

.button {
	background-color: #cddbf2;
	color: blue;
	padding: 1%;
	text-align: center;
}

.hid {
	visibility: hidden;
}
