* {
	font-family: 'Montserrat', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	background-color: #fafafa;
	color; #555;
}

.title {
	margin-top: 3%;
	background: #566b8c;
	color: white;
	border-color: black;
	border-style: solid;
	padding: 2%;
}

.main-page {
	background-color: #7da6e8;
	border-style: solid;
}

.btn {
	background-color: #cddbf2;
	border-style: solid;
	padding: 1%;
	margin: 1%;
	text-align: center;
}

.scroll-btn {
	background-color: #008CBA;
	font-size: 150%;
	height: 100px;
}

.scroll-right {
	float: left;
}

.scroll-left {
	float: right;
}

#picker {
	width: 200px;
	height: 200px;
}

#slide {
	width: 50px;
	height: 200px;
}

.picker-wrapper {
	position: absolute;
	float: right;
	background-color: rgb(160, 156, 160);
	margin: 10px;
	border-radius: 7%;
	border-color: black;
	border-style: solid;
	border-width: 3px;
}

.add-border {
	border-style: solid;
	border-width: 2px;
}
